torch
torchsde
einops
transformers>=4.25.1
safetensors>=0.3.0
aiohttp
accelerate
pyyaml
Pillow
scipy
tqdm
torchdiffeq
GitPython
opencv-contrib-python
opencv-python
timm==0.6.7
torchvision
scipy
matplotlib
scikit-image
prettytable==3.6.0
addict
yapf
mediapipe
fvcore
omegaconf
ftfy
